* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%;
    font-family: Arial, sans-serif;
    display: flex;
    margin-top: 50px;
}

.card{
    height: 300px;
     width: 300px;
    background-color: aqua;
  }
  
  .card img{
    height: 150px;
    width: 150px;
    border-radius: 50%;
    margin-left: 65px;
}

.card h1{
font-size: 30px;
font-weight: 300;
padding-left: 50px;
}

.card h5{
padding-left: 80px;
font-size: 20px;
font-weight: 200;
}

.card h6{
padding-left: 10px;
font-size: 20px;
font-weight: 200;
}